.page_3_img_style {
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-end;
  background-position: center;
  padding: 0 3vw;
  cursor: pointer;
}

.page3_1st_ele {
  background: url("../assests/assistance.jpg");
  justify-content: space-between;
  align-items: flex-start;
  background-position: 0% 90%;
  background-size: contain;
}

.page3_3rd_ele {
  background-image: url("../assests//Reviews.png");
  background-color: #142c64;
  background-size: contain;
}

.page3_h1 {
  font-size: 4vw;
  margin-top: 1vw;
}
.page3_text_Style {
  font-size: 4vw;
  font-weight: 400;
  margin: 0px;
}

.page3_p {
  font-size: 1.27vw;
}

@media screen and (max-width: 600px) {
  .page_3_img_style {
    width: 100vw;
    height: 80vw;
    background-position: 90% 40%;
    align-items: flex-start;
    padding: 0 3vw;
  }

  .page3_1st_ele {
    background-position: 0% 40%;
    background-size: 100% 200%;
  }

  .page3_3rd_ele {
    background-image: url("../assests//Reviews.png");
    background-color: #142c64;
    background-size: contain;
    background-size: 70% 60%;
    background-position: 50% 20%;
  }

  .page3_text_Style {
    font-size: 9vw;
    font-weight: 300;
    margin: 0px;
    text-align: left;
  }

  .page3_h1 {
    font-size: 7vw;
    margin-left: 0;
    margin-top: 2vw;
  }

  .page3_p {
    text-align: left;
    font-size: 3vw;
    font-weight: 300;
  }
}
