/* 
=============== 
Variables
===============
*/

.section {
  width: 90vw;
  margin: 0 auto;
  /* max-width: var(--max-width); */
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vw;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.title span {
  font-size: 0.85em;
  color: hsl(21, 62%, 45%);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
article h4 {
  text-transform: uppercase;
  color: hsl(21, 62%, 45%);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: hsl(209, 34%, 30%);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: hsl(210, 22%, 49%);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: hsl(21, 62%, 45%);
}
.prev,
.next {
  position: absolute;
  top: 60%;
  background: hsl(210, 22%, 49%);
  color: "white";
  width: 3vw;
  height: 3vw;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 2vw;
}
.prev:hover,
.next:hover {
  background: hsl(21, 62%, 45%);
}
.prev {
  left: 1%;
}
.next {
  right: 1%;
}

