.page2_left {
  width: 30vw;
  height: 36.5vw;
  background: #142c64;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
}

.minusSign_style {
  font-size: 34px;
  padding: 0;
  margin-left: -10px;
  color: #142c64;
}

.image_style {
  width: 27vw;
  height: 34vw;
  border-bottom-left-radius: 1.5vw;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}

.arrow_holder {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-left: -5px;
  cursor: pointer;
  color: #142c64;
}

.h5_page5 {
  font-size: 2.7vw;
  color: #7a553b;
  margin-bottom: 20px;
  margin-top: 1.7vw;
}

.traingleSign_style {
  font-size: 20px;
  margin-left: -10px;
}

@media screen and (max-width: 750px) {
  .h5_page5 {
    font-size: 7vw;
  }

  .image_style {
    width: 70vw;
    height: 83vw;
    border-bottom-left-radius: 3vw;
  }

  .page2_left {
    width: 78vw;
    height: 90vw;
    margin-bottom: 20px;
  }

  .minusSign_style {
    font-size: 31px;
  }

  .traingleSign_style{
    font-size: 15px;
  }
}
