#page1 {
  width: 100%;
  height: 41vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding: 0 2vw;
}

#page1_cut_page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1b3061;
  height: 41vw;
  clip-path: polygon(0px 0px, 100vw 0px, 100% 15vw, 0px 100%);
}

#button_example {
  margin-top: 2vw;
  background: black;
  color: white;
  border: none;
  padding: 1.1vw 2.6vw;
  border-radius: 10px;
  font-size: 1.3vw;
  cursor: pointer;
  margin-bottom: 0;
}

.h1_page1 {
  font-size: 5vw;
  color: white;
  margin-bottom: 2vw;
  margin: 0;
}

.img_page1 {
  width: 35vw;
  margin-right: 0px;
  z-index: 1;
}

.p_page1 {
  color: white;
  font-size: 1.4vw;
}

@media screen and (max-width: 550px) {
  #page1 {
    height: 150vw;
    flex-direction: column;
    text-align: center;
    padding: 0 2vw;
  }

  #page1_cut_page {
    height: 150vw;
    clip-path: polygon(0px 0px, 100vw 0px, 100% 100%, 0px 100%);
  }

  #button_example {
    padding: 2.5vw 5vw;
    border-radius: 10px;
    font-size: 3vw;
    margin-bottom: 50px;
  }

  .h1_page1 {
    font-size: 10vw;
    margin-bottom: 2vw;
    margin: 0;
  }

  .img_page1 {
    width: 65vw;
    margin-right: 0px;
  }

  .p_page1 {
    font-size: 4vw;
  }
}
