.first_div {
  width: 100vw;
  background: #050c26;
  padding-bottom: 70px;
}

.section {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vw;
}

.title {
  text-align: center;
}

.section-center {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  padding-top: 70px;
}

/* ======================== prev and next botton ============================== */

.prev,
.next {
  position: absolute;
  top: 60%;
  background: hsl(210, 22%, 49%);
  color: white;
  width: 3vw;
  height: 3vw;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 2vw;
}
.prev:hover,
.next:hover {
  background: hsl(21, 62%, 45%);
}
.prev {
  left: 1%;
}
.next {
  right: 1%;
}

/* ===================== card Style ========================= */
.style_card {
  transition: 0.5s linear;
  width: 23vw;
  height: 100%;
  margin: 0 4vw;
  /* display: flex;
  justify-content: flex-start; */
}

#card {
  min-width: 22vw;
  height: 17vw;
  position: relative;
}

#review_img {
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: -4.5vw;
  left: 50%;
  clip-path: circle();
  transform: translate(-50%);
  z-index: 1;
}

/* ============================== Media Queries =========================== */

@media screen and (max-width: 600px) {
  #review_img {
    width: 20vw;
    height: 20vw;
    top: -10vw;
  }

  .prev,
  .next {
    width: 9vw;
    height: 9vw;
    font-size: 4vw;
    top: 63%;
  }

  .prev {
    left: -1%;
  }
  .next {
    right: -3%;
  }


}
