.VideoPlayer_div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw 0;
}

.storyTelling {
  font-size: 3.5vw;
  position: relative;
  color: #142c64;
}

.storyTelling::after {
  content: "";
  width: 10vw;
  background-color: orange;
  height: 3px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

#video {
  width: 70vw;
  height: 38vw;
  border-radius: 30px;
  margin: 3vw 0 7vw 0;
}

@media screen and (max-width: 750px) {
  .VideoPlayer_div {
    margin: 5vw 0;
  }
  .storyTelling {
    font-size: 6vw;
  }

  .storyTelling::after {
    width: 15vw;
    bottom: -20%;
  }

  #video {
    width: 95vw;
    height: 55vw;
    margin: 3vw 0 5vw 0;
    border-radius: 20px;
  }
}
