/* * {
  box-sizing: border-box;
} */

.Header_style {
  position: "sticky";
  top: 0;
  z-index: 100;
  background: "white";
  display: "flex";
  justify-content : "space-between";
  align-items: "center";
  box-shadow: "3px 2px 5px 0 rgba(0,0,0,0.16)";
  padding: "0 57px";
}

.storyTelling{
  font-size: 44px;
  position: relative;
  color: #142C64;
  /* margin-bottom: 10px; */
}

.storyTelling::after{
  content: '';
  width: 100px;
  background-color: orange;
  height: 3px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);

}


